:root {
    --rubgrey: rgba(241, 241, 241, 0.65);
    --rubblue: rgba(0, 53, 96, 0.65);
    --rubgreen: rgba(141, 174, 16, 0.8);
    --rubgreyHover: rgba(241, 241, 241, 0.85);
    --rubblueHover: rgba(0, 53, 96, 0.85);
    --rubgreenHover: rgba(141, 174, 16, 0.95);
}

a {
    color: var(--rubgreen);
}

a:hover {
    color: var(--rubgreenHover);
}

img {
    height: auto;
    width: 75%;
    padding: 20px;
    max-width: 200px;
}

.App {
    text-align: center;
    font-size: 10pt;
}

html,
body,
#root {
    height: 100%;
    width: auto;
    margin: 0;
    background-color: var(--rubgrey);
    color: var(--rubblue);
}

.map,
#map,
.overview,
#overview {
    height: 100%;
    width: auto;
    margin: 0;
}

.scroll {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--rubblue);
}

select {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 1em 1.4em;
    margin: 1em 0.3em 0.3em 0;
    width: 100%;
    border: none;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: var(--rubgreyHover);
    background-color: var(--rubblue);
    box-shadow: inset 0 -0.6em 0 -0.35em var(--rubgreen);
    text-align: center;
    position: relative;
    transition: all 1s;
    outline: none;
}

.button:hover {
    background-color: var(--rubblueHover);
}

.button:active {
    background-color: var(--rubblueHover);
    color: var(--rubgreenHover);
    top: 0.1em;
}

@media all and (max-width:30em) {
    .button {
        display: block;
        margin: 0.4em auto;
    }
}

::-webkit-scrollbar-thumb {
    background: var(--rubgrey);
}

li {
    list-style-type: none;
    color: var(--rubblue);
}

li:hover {
    color: var(--rubgreenHover);
    cursor: pointer;
}

.loading span {
    width: 15px;
    height: 15px;
    margin: 15% 4px;
    background-color: var(--rubgreenHover);
    border-radius: 50%;
    display: inline-block;
    animation-name: loadingDots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 8000;
}

.loading span:nth-child(2) {
    animation-delay: 0.5s
}

.loading span:nth-child(3) {
    animation-delay: 1s
}

@keyframes loadingDots {
    20% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

.infobox {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--rubgreen);
    border: 1px solid var(--rubgrey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 4000;
    vertical-align: middle;
    color: var(--rubblue);
    transition: all 1s;
    text-align: center;
    line-height: 20px;
    outline: none !important;
}

.infobox:hover {
    color: var(--rubblueHover);
    background-color: var(--rubgreenHover);
}

.tab {
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    transition: all 1s;
    color: var(--rubblue);
    background-color: var(--rubgrey);
    cursor: pointer;
}

.activeTab {
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    transition: all 1s;
    color: var(--rubblueHover);
    background-color: var(--rubgreenHover);
    cursor: pointer;
}

.overlayContainer {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--rubgreyHover);
    cursor: pointer;
}

.legalbox {
    position: absolute;
    font-size: 8px;
    bottom: 10px;
    right: 10px;
    background: var(--rubgreen);
    border: 1px solid var(--rubgrey);
    border-radius: 8px;
    width: auto;
    height: 25px;
    z-index: 4000;
    vertical-align: middle;
    color: var(--rubblue);
    transition: all 1s;
    text-align: center;
    line-height: 20px;
    outline: none !important;
}

.imprinttext {
    font-size: 8px;
    padding: 2px;
}